*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
    height: 100vh;
	display: flex;
	flex-direction: column;

}
#code-wrapper{
	flex:1;
	background:lightcoral;
	overflow:hidden;
}
#preview-wrapper{
	flex:1;
	background:#FFE600;
	display: flex;
	justify-content: center;
    align-items: center;
}
